.palabra{
	position: absolute;
	display: inline;
	width:500px;
	height: 48px;
	left: 425px;
	top: 100px;

	font-family: 'Inter';
	font-style: normal;
	/*font-weight: 400;*/
	font-size: 32px;
	line-height: 150%;
	margin: 0 auto;
	/* identical to box height, or 48px */

	/* Dark blue/dark-blue-300 */
	color: #0A3871;


	
}

.botones > div {
	flex:100%;
}
/*
.aclaracion{
	position:absolute;
	padding-bottom:10px;
	font-family: 'Inter';
	font-style: italic bold;
	font-size: 14px;
	text-align: center;
	top: 250px;
	left:32vw;

	color: #FF0000;
}
.aclaracion p img {
	padding:0px 20px 5px 0;
	vertical-align:middle;
	
}

*/
.botones{
	position:absolute;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: center;
	top:300px;
	gap:10px;
	width:100%;
	/*text-align:center;*/
	padding: 0 0px 6px;
	/*right:40px;*/
	justify-content: center
	
	
}
	
	
.guardar{
	width: 250px;
	height: 67px;
	background: #0A3871;
	border-radius: 24px;
	border-width:3px;
	
}


.cancelar{
	box-sizing: border-box;
	width: 250px;
	height: 67px;
	

	/* Dark blue/dark-blue-300 */
	
	border-radius: 24px;
	border-width:3px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	

	background:#FFFFFF55;
	color: #000000;

}