body {
	
	background:url("../imagenes/background3.jpg");	
	background-size:cover;
	background-repeat: no-repeat;
	height:90%;
}
main{
	height:90%;
	
}

.imagenes{
	position:relative;
	width: 300px;
	height: 300px;
	top: -30px;
	
	background-color:rgba(255,255,255,0.6);
	justify-content:center;
}
.imagenGuion{
	font-size:40px;
	border:none;
}

.cajaPalabra{
	
	position:relative;
	display:flex;
	flex-direction: row;
	align-items: center;
	height:60px;
	top:5px;
	gap:10px;
	justify-content:center;
	margin:0 auto;
	
}

.letrasIngresadas{
	position:relative;
	top:20px;
	width:600px;
	height:40px;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	margin:0 auto;
	gap: 30px;
	padding:5px;
	
	


        -webkit-animation: glowing 3000ms infinite;
        
      }
      @-webkit-keyframes glowing {
          0% { background-color: #fafcfc; box-shadow: 0 0 3px #fafcfc; opacity: .3;}
          50% { background-color: #f5f5f5; box-shadow: 0 0 30px #f5f5f5; opacity: .6;}
          100% { background-color: #fafcfc; box-shadow: 0 0 3px #fafcfc; opacity: .3;}
      }



.letrasIngresadas  p{
	width:4px;
	font-size: 26px;
	line-height: 50%;
	color: #0A3871;
	
}
.botones{
	top:450px;
}

.mute{
	bottom:
	
	
	right:40px;
	
}

.mensaje{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
	display:flex;
	justify-content:center;
	align-items:center;
	padding:5px;
	/*border-radius: 70%;*/
	border:none;
	/*box-shadow: 0 2px 4px darkslategray;*/
	background:#000000EE; 
	
	overflow:hidden;
	/*Dark blue/dark-blue-300 #0A3871*/
	visibility:hidden;
	
	
}


.perdiste{
	
	
    color: red;
	font-size:120px;
	font-weight:bold;
	font-family: sans-serif;
	text-transform:uppercase;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	
	
}

.perdiste::before {
    
	content:attr(data-text);
	color:red;
    position:relative;
	
	
	filter: blur(0.03em);
    mix-blend-mode: difference;
}

.perdiste>span::before{
	content:attr(data-text);
	display:flex;
	justify-content:center;
	align-items:center;
	gap:50px;
	color: white;
	font-size:30px;
	font-family: sans-serif;
	filter: blur(0.03em);
    mix-blend-mode: difference;
}

.ganaste{
	font-size:120px;
	font-weight:bold;
	color:green;
	font-family: sans-serif;
	text-transform:uppercase;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	user-select:none;
	
}

.ganaste::before {
    position: absolute;
	content:attr(data-text);
	
	color:white;
    filter: blur(0.3em);
    mix-blend-mode: difference;
}



.spotlight {
	position: absolute;
    top: -180%;
    left: -100%;
    right: 0;
    bottom: -30%;
    color:red;
	background: 
        radial-gradient(
            circle,
			
            white,
            transparent 80%
        ) center / 50% 50%,
        radial-gradient(
            circle,
			white,
            
			black 50%
			
			
        ) center / 50% 50%;
    animation: light 2s linear infinite;
    mix-blend-mode: color-dodge;
}



@keyframes light {
    to {
        transform: translate(50%, 0%);
		
    }
}





@media screen and (max-width:630px){
header img{
	top: 0.5em;
	height:30px;
	width:30px;
}

.imagenGuion{
	font-size:30px;
	width:50%;
}

.cajaPalabra{
	width:500px;
	position:relative;
	display:flex;
	flex-direction: row;
	align-items: center;
	height:60px;
	top:5px;
	gap:10px;
	justify-content:center;
	margin:0 auto;
	
}

.letrasIngresadas{
	width:400px;
	
}

}

@media screen and (max-width:512px){


.cajaPalabra{
	width:400px;
	position:relative;
	display:flex;
	flex-direction: row;
	
	align-items: center;
	height:60px;
	top:5px;
	gap:10px;
	justify-content:center;
	margin:0 auto;
	
}

.letrasIngresadas{
	width:200px;
	
}
.letrasIngresadas  p{
	width:2px;
	font-size: 10px;
	top:0px;
	gap: 10px;	
}


.guardar{
	width: 250px;
	height: 50px;
	
	
}


.cancelar{
	
	width: 250px;
	height: 50px;
	
	font-size: 16px;

}
}