html{
	height:100%;
	
}
body {
	height:100%;	
	background:url("../imagenes/background.jpeg");	
	
	background-repeat: no-repeat;
	
}
header{
	height:100px;
}
header img{
	position: absolute;
	left: 2%;
	right: 7.43%;
	top: 2em;
	padding:2px;
	transition:0.5s;
	background:rgba(255,255,255,0.06);    /*radial-gradient(#7998C6,#2f47a8);*/
	
	box-shadow: 0 0 10px #2f47a8;
	
    border-radius: 20px;
	-webkit-filter: brightness(130%);

   animation: filter-animation 2s infinite;

}

@keyframes filter-animation {
  0% {
    filter: brightness(100%) brightness(100%);
  }
  25% {
    filter: brightness(110%) brightness(120%);
  }

  50% {
    filter: brightness(110%) brightness(140%);
  }
  75% {
    filter: brightness(110%) brightness(120%);
  }
  100% {
    filter: brightness(110%) brightness(100%);
  }

  
} 

main{
	
	position:relative;
	height:82vh;
	min-height:268px;

	justify-content:center;
	text-align:center;
	
}






.contenedor{
	display:flex;
	box-sizing: content-box;
	width:98%;
	
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;	
}

.interno{
	display:flex;
	flex-direction:row;
	background-color:transparent;
	scroll-snap-type:x mandatory;
	padding-left: 20px;
	
	overflow:hidden;
	scroll-behavior:smooth;
	user-select: none;
	scrollbar-width:none;
	
	
}



.card{
	position:relative;
	display:flex;
	flex-direction:column;
	height:60%;
	gap:1px;
	border-radius:1rem;
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
	margin:1rem;
	background-color:rgba(255,255,255,0.06);
	border: .1rem solid rgba(255,255,255,0.18);
	color:var(--white-text);
	/*scroll-snap-align:center;*/
}




.card h2{
	color:white;
	letter-spacing: .1rem;
	margin: 1rem 0;
	font-size:20px;
}
.card img{
	position:relative;
	object-fit:fill;
	width:300px;
	height:200px;
	pointer-events: none;
	z-index:0;
}
.card:hover{
	 
	transform: scale(1.05);
	
	transition: all 0.1s ease-in-out 0.1s;
}

.card input{
	position:relative;
	bottom:1em;
	left:32%;
	width: 100px;
	height: 50px;
	background-color:rgba(255,255,255,0.06);
	border-radius: 24px;
	border-color:#ffffff;
	border-width:3px;
	color:#FFFFFF;
	font-weight:bolder;
	text-align:center;
	font-size:18px;
	z-index:1;
	opacity:0.5;
	
	
}


.card input:hover{
	border-color:#ffffff;
	transform: scale(2);
	opacity:0.8;
	transition: all 0.1s ease-in-out 0.1s;
	
}



.botonera{
	box-sizing: content-box;
	position:relative;
	display:flex;
	flex-direction: column;
	align-items: center;
	top:5vh;
	width:100%;
	padding: 0 0px 6px;
	/*right:40px;*/
	
	
}

input:hover {	
	border-color: #b1dcf2;
	
}


.agregar{
	position:relative;
	box-sizing: border-box;
	width: 250px;
	height: 67px;
	margin-top:20px;
	border-color:#ffffff;
	border-radius: 24px;
	border-width:3px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	background:#FFFFFF55;
	

	
	
		
}



footer{
	
	width:100%;
	height:50px;
	
	
	background:linear-gradient(30deg,#FFFFFF11,#d9c91811,#d9c91844,#d9c91888,#9e5e1588,#9e5e1544,#9e5e1511,#FFFFFF11);
	text-align:center;
	
}

footer p{
	padding:15px;
	
}


@media screen and (max-width:1200px){

.interno{
	overflow:auto;
}

.card img{
	height: 100px;
	width:130px;
	object-fit:fill;

}

.card input{
	height: 30px;
	width:80px;
	left:20%;
	
}

.card input:hover{
	border-color:#ffffff;
	transform: scale(1.2);
	opacity:0.8;
	transition: all 0.1s ease-in-out 0.1s;
	
}


}

@media screen and (max-width:400px){

header{
	height:50px;
}
header img{
	position: absolute;
	height:20px;
	width:20px;
	left: 2%;
	right: 7.43%;
	padding:1px;
	transition:0.5s;
	background:rgba(255,255,255,0.06);    /*radial-gradient(#7998C6,#2f47a8);*/
	
	box-shadow: 0 0 10px #2f47a8;
	
    border-radius: 20px;
	-webkit-filter: brightness(130%);

   animation: filter-animation 2s infinite;

}

@media screen and (max-height:700px){
main{
		height:79vh;
	
}
	
}

@media screen and (max-height:600px){
main{
		height:77vh;
	
}
	
}



@media screen and (max-height:500px){
main{
		height:70vh;
	
}
.botonera{
	top:1vh;
	width:100%;
	padding: 0 0px 6px;
	
	
	
}

.agregar{
	
	width: 200px;
	height: 30px;
	margin-top:2px;
	
	border-radius: 24px;
	border-width:3px;
	
	font-weight: 200;
	font-size: 12px;
	line-height: 19px;
	
		
}
	
}